<div class="ui top attached menu">
  <div class="item borderless">
    <a href="http://www.julesjam.com" class="header item">
      <img class="logo" src="/assets/images/jamicon.png">
    </a>
  </div>

  <h1 class="main-title">Midnight Marmalade</h1>
  <div class="right menu">
    <div type= "button" (click)="toggleMenu()" class = "header item">
      <div  class ="navIcon" [ngClass]="{ navIconOpen: menuOpen}" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="main-nav" [ngClass] = "{hidden: !menuOpen}">
      <a class="navLinks" [routerLink]="['/home']">Home</a>
      <a class="navLinks" [routerLink]="['/locations']">Favourite places</a>
      <a class="navLinks" [routerLink]="['/about']">About</a>
      <a class="navLinks" [routerLink]="['/contact']">Contact</a>
    </div>
  </div>
</div>