<div class="ui top attached menu">
  <div class="item borderless">
    <a href="http://www.julesjam.com" class="header item">
      <img class="logo" src="/assets/images/jamicon.png">
    </a>
  </div>

  <h1 class="main-title">Midnight Marmalade</h1>
  <div class="right menu">
    <div class = "header item">
      <button type= "button" (click)="toggleMenu()" class ="navIcon" [ngClass]="{ navIconOpen: menuOpen}" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="main-nav" [ngClass] = "{hidden: !menuOpen}">
      <a class="navLinks" *ngIf="!auth.isLoggedIn()" [routerLink]="['/home']">Log In</a>
      <a class="navLinks" *ngIf="auth.isLoggedIn()" [routerLink]="['/locations']">Favourite places</a>
      <a class="navLinks" [routerLink]="['/about']">About</a>
      <a class="navLinks" [routerLink]="['/contact']">Contact</a>
      <a class="navLinks" [routerLink]="['/map']">Map-Testing</a>
      <a class="navLinks" *ngIf="auth.isLoggedIn()" (click)="auth.logout()">Logout</a>
    </div>
  </div>
</div>