<div class="ui raised segment location-form">
  <div [ngClass]="{ hidden: isHidden }">
    <h2 class="ui header">Add your entry here</h2>
    <form [formGroup]="myForm"
      (ngSubmit)="onSubmit(myForm.value, locationList)"
      class="ui form"
      [class.error]="!myForm.valid && myForm.touched" >
      <button type="button" (click)="toggleForm()" class="ui right floated button">-</button>
      <div class="field"
        [class.error]="!myForm.controls['locationName'].valid && myForm.controls['locationName'].touched">
        <label for="locationNameInput">Name</label>
        <input  type="text"
                id ="locationNameInput"
                placeholder="Name of entry"
                [formControl]="myForm.controls['locationName']">
        <div *ngIf="!myForm.controls['locationName'].valid"
          class="ui error message">Name is Required
        </div>
        
      </div>

      <div class="field"
        [class.error]="!myForm.controls['locationTown'].valid && myForm.controls['locationTown'].touched">
        <label for="locationTownInput">Town</label>
        <input  type="text"
                id ="locationTownInput"
                placeholder="Town"
                [formControl]="myForm.controls['locationTown']">
        <div *ngIf="!myForm.controls['locationTown'].valid"
          class="ui error message">Town is Required
        </div>
      </div>

      <div class="field"
        [class.error]="!myForm.controls['description'].valid && myForm.controls['description'].touched">
        <label for="descriptionInput">Description</label>
        <input  type="text"
                id ="descriptionInput"
                placeholder="Description"
                [formControl]="myForm.controls['description']">
        <div *ngIf="!myForm.controls['description'].valid"
          class="ui error message">Description is Required
        </div>
      </div>

      <div class="field"
        [class.error]="!myForm.controls['locationPostcode'].valid && myForm.controls['locationPostcode'].touched">
        <label for="locationPostcodeInput">PostCode</label>
        <input  type="text"
                id ="locationPostcodeInput"
                placeholder="PostCode"
                [formControl]="myForm.controls['locationPostcode']">
        <div *ngIf="!myForm.controls['locationPostcode'].valid"
          class="ui error message">PostCode is Required
        </div>
      </div>

      <div class="field"
        [class.error]="!myForm.controls['entryType'].valid && myForm.controls['entryType'].touched">
        <label for="entryTypeInput">Type of venue</label>
        <input  type="text"
                id ="entryTypeInput"
                placeholder="Restaurant, Hotel, Coffe Shop"
                [formControl]="myForm.controls['entryType']">
        <div *ngIf="!myForm.controls['entryType'].valid"
          class="ui error message">Type of location is Required
        </div>
        <div *ngIf="!myForm.valid"
          class="ui error message">Form not valid</div>
      </div>

      
     

      <div class="form-group">
        <label for="file">Choose file</label>
        <input  type="file"
                id="file"
                (change)="handleFileInput($event.target.files)">
      </div>
  
      <button type="submit" *ngIf="myForm.valid" class="ui button">Submit</button>
      
    </form>

  </div>
  <div class="add-bar" [ngClass]="{ hidden: !isHidden }">
    Click here to add your favourite places
    <button (click)="toggleForm()" class="ui right floated button">+</button>
  </div>
</div>
