<div class="ui raised segment invitation-form">
  <div [ngClass]="{ hidden: isHidden }"> 
   
    <form [formGroup]="invitationForm"
      (ngSubmit)="onSubmit(invitationForm.value)"
      class="ui form"
      [class.error]="!invitationForm.valid && invitationForm.touched" >
      <button type="button" (click)="toggleForm()" class="ui right floated button">-</button> 

      <div class="field" [class.error]="!invitationForm.controls['recipientFirstName'].valid && invitationForm.controls['recipientFirstName'].touched">
        <label for="recipientFirstName">Enter your friends first name</label>
        <input type="text" class="form-control" placeholder="Enter your friends email address" [formControl]="invitationForm.controls['recipientFirstName']">
        <div *ngIf="!invitationForm.controls['recipientFirstName'].valid &&   invitationForm.controls['recipientFirstName'].touched"
          class="ui error message visible">Please enter your friends first name, only A-Z allowed
        </div>
      </div>

      <div class="field" [class.error]="!invitationForm.controls['recipientEmailAddress'].valid && invitationForm.controls['recipientEmailAddress'].touched">
        <label for="recipientEmailAddress">Enter your friends email address</label>
        <input type="text" class="form-control" placeholder="Enter your friends email address" [formControl]="invitationForm.controls['recipientEmailAddress']">
        <div *ngIf="!invitationForm.controls['recipientEmailAddress'].valid  &&   invitationForm.controls['recipientEmailAddress'].touched"
          class="ui error message visible">This must be an email address
        </div>
      </div>
      <button *ngIf = "invitationForm.valid" type="submit" class="ui right floated button">Create Invitation</button>
    </form>
  </div>
  <div *ngIf="invitationMessageVisible" class="invitation-message">
    Hurrah! Your invitation has been sent and copy will be in yur inbox. The invitation will be valid for 30 days, we will send you a wee reminder just before it expires if your friend has not accepted it. You can always send them a message with this code 
    <div class="large-centred">
      {{invitationCode}}
    </div>
    which they can use to register at www.test.midnightmarmala.de
    <button *ngIf = "invitationMessageVisible" type="button" class="ui centered button" (click)="closeInviteMessage()">Close</button>
  </div>
  <div class="add-bar" *ngIf="!invitationMessageVisible"[ngClass]="{ hidden: !isHidden}">
    Click here to invite a friend to your Jar
    <button (click)="toggleForm()" class="ui right floated button">+</button>
  </div>
</div>