<div *ngIf="loading">
 <div class="ui icon message">
   <i class="notched circle loading icon"></i>
   <div class="content">
     <div class="header">
       Just one second
     </div>
     <p>...things seem a bit slow today - we're just looking for that lovely data.</p>
   </div>
 </div>
</div>
<div *ngIf="!loading">
  <location-form
    [locationList]="locations">
  </location-form>
  <locations-list
    [locationList]="locations"
      (onLocationSelected)="locationWasSelected($event)">
  </locations-list>
</div>
