 <div class="ui link cards"> 
  <div class="card">
    <div class="location_header">
      <div class="location_image_container">
        <location-image [location]="location"></location-image>
      </div>
      <div class="location_info_container">
        <div *ngIf="location.jarLocationEntryType == 'Wishlist'" class="indicator">
        {{ location.jarLocationEntryType }}  
        </div>
        {{location.mapTag}} {{ location.jarLocationType}} 
      </div>
   </div>
    
    <div class="content">
      <div class="header">{{ location.locationName}}</div>
      <div class="meta">
        <a>City: {{ location.locationAddress }}</a>
        <br>
        Website: <a href="{{ location.website }}"> click to view</a>
        <br>
        <a href="tel:{{ location.locationMainTelephone}}">&#9742;: {{ location.locationMainTelephone}}</a>
      </div>
      <div class="description">
        {{ location.jarLocationDescription }}
       
        
        
      </div>
    </div>
    <div class="extra content">
      <div class="votes">
        {{ location.votes }}<br> Votes
      </div>
      <div>
        Vote
      <button type="button" (click)="voteUp()">
        <i class="arrow up icon"></i>
      </button>
      <button type="button" (click)="voteDown()">
        <i class="arrow down icon"></i>
      </button>
    </div>
    </div>
  </div>
</div>

