 <div class="ui link cards"> 
  <div class="card">
    <div class="image">
      <location-image [location]="location"></location-image>
      <div *ngIf="location.jarLocationEntryType == 'Wishlist'" class="indicator">
        {{ location.jarLocationEntryType }}
      </div>
    </div>
   
    
    <div class="content">
      <div class="header">{{ location.locationName}}</div>
      <div class="meta">
        <a>City: {{ location.locationAddress }}</a>
        <br>
        <a>Website: {{ location.website }}</a>
        <br>
        <a>&#9742;: {{ location.locationMainTelephone}}</a>
      </div>
      <div class="description">
        {{ location.jarLocationDescription }}
        {{ location.jarLocationType}} {{location.mapTag}}
        
        
      </div>
    </div>
    <div class="extra content">
      <div class="votes">
        {{ location.votes }}<br> Votes
      </div>
      <div>
        Vote
      <button type="button" (click)="voteUp()">
        <i class="arrow up icon"></i>
      </button>
      <button type="button" (click)="voteDown()">
        <i class="arrow down icon"></i>
      </button>
    </div>
    </div>
  </div>
</div>

