@import './app/vendor/semantic.min.css';

body {
  background-image: url('/assets/images/locations/MidnightMarmalade_files/cocktail_bar.png');
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.main_container{
  display: block;
  width: 100vw;
  color: rgba(125, 131, 133, 1.0);
  overflow: hidden ;
  padding: 0px 8vw;
}



.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.ui.attached.menu{
  height: 101px;
  background-color: rgba(255, 255, 255, 0);

}
.ui.raised.segments {
  margin: 1em auto;
}
.ui.items>.item {
  border: 1px solid rgba(255, 255, 255, 0.0);
  border-radius: 5px;
}

.ui.items>.item.selected {
  border: 3px solid grey;
  border-radius: 5px;
}

.ui.items>.item>.content>.header {
    padding-top: 1em;
}


.ui.icon.message{
  margin: .1em auto;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.centred{
  margin: 0 auto !important;
}

.large-centred{
  display: block;
  margin: 3px auto;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.invitation-message{
  font-weight: bold;
  text-align: center;
}

login-box{
  border: solid 2px;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38);
}


.add-bar{
  display: block;
  min-height: 1em;
  margin-bottom: 0.75em;

}

.location-form{
  width:70vw;
  margin: 1em 15.5em 0.5em !important;
}

.invitation-form{
  width: 70vw;
  margin: 1em 15.5em 0.5em !important;
  overflow: hidden;
}

.map-container{
  padding:0 10vw;
}



.votes{
  display:block;
  width:50px;
  font-size: .7em;
  font-style: 'arial';
  font-weight: bold;
  float: right;
}

.hidden {
  display: none;
}

.displayed{
  display: block;
}

.register_confirmation {
  width: 83%;
  background-color: rgba(125, 131, 133, 0.8);
  color: rgba(250, 250, 250, .9);
  text-align: center;
}

#modal-container {
    position:  fixed;
    top: 300px;
    left: 50%;
    width: 375px;
    background: white;
    margin-left: -187.5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 2px 1px black;
    z-index: 100;
    border-radius: 25px
}

#overlay {
    position: absolute;
    top: 0px;
    left:  0px;
    z-index:  99;
    background:  rgba(203, 203, 203, 0.9);
    width:  100%;
    height: 100%;
}

#shader {
    position: absolute;
    position: fixed;
    top: 0px;
    left:  0px;
    z-index:  -1;
    background:  rgba(203, 203, 203, 0.3);
    width:  100%;
    height: 100%;
}

.alert_bar {
  margin: 10px, auto;
  padding: 5px;
  display: block;
  min-height: 30px;
  background-color: rgba(203, 203, 203, 1.0);
  text-align: center;
}

.view_selector {
  display: block;
  position: fixed;
  top: 10.9em;
  left: 1%;
  width: 12vw;

}
.view_active {
  color: red !important;
}

.selector_group{
  float: left;
  padding: 5px;
}

.display-map{
  height: 100vh;
  
}

.map_width{
  width: 80vw;
}


.navIcon {
  width: 60px;
  height: 45px;
  margin: 30px auto;
  background: none;   
  border-style: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.navIcon:focus{
  outline: 0;
}

.navIcon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


.navIcon span:nth-child(1) {
  top: 0px;
}

.navIcon span:nth-child(2),.navIcon span:nth-child(3) {
  top: 18px;
}

.navIcon span:nth-child(4) {
  top: 36px;
}

.navIconOpen {
  width: 24px;
  height:3px;
  padding-bottom: 50px;
  }

.navIconOpen span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navIconOpen span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navIconOpen span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navIconOpen span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navLinks {
  display: block;
  margin: 0.01em auto;
  color: #d3531a;
  font-size: 0.8em;
}

.location_image_container {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.location-image{
  width: 100px;
  height: 100px;

}

.main-title{
  display: inline-block;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.9);
  margin: 10px auto;
  padding-left:8%;
}

.front_page_image_band{
  position: fixed;
  top: 150px;
  left: 0;
  width: 100%;
  margin: 0 !important;
  height: 30vw;
  background-color: rgba(203, 203, 203, 1.0) ;
}



.login_register_form{
  margin-top: 5vw;

}

.ui.raised.segment{
  width: 50%;
  margin: 5px auto;

}



.login_buttons{
  margin-top: 38vw;
  margin-left: 12%;

}

.ui.buttons{
  width: 50%;
  margin: 0 15vw;
}

.login_buttons_activated{
  margin-top: 5vw;
  margin-left: 12%;
  transition: 1000ms;
}

.loginregister_buttons{
  z-index: 100;
  font-size: 2.5rem !important;
}

.register_button{
  background-color: rgba(255, 20, 30, 1.0) !important;
}

.register_button_activated{
  color: rgba(203, 203, 203, 1.0) !important;
  background-color: rgba(255, 20, 30, 0.2) !important;
}




.login_button{
  background-color: rgba(14, 255, 27, 1.0) !important;
}

.login_button_activated{
  color: rgba(203, 203, 203, 1.0) !important;
  background-color: rgba(14, 255, 27, 0.4) !important;
}



.image_one_quarter{
  position: fixed;
  width: 25vw;
  height: 25vw;
  margin-top: 2.5vw;
}

.image_one_quarter_two{
  margin-left: 25vw;
  border-left: 4px solid rgba(203, 203, 203, 1.0);
}

.image_one_quarter_three{
  margin-left: 50vw;
  border-left: 4px solid rgba(203, 203, 203, 1.0);
}

.image_one_quarter_four{
  margin-left: 75vw;
  border-left: 4px solid rgba(203, 203, 203, 1.0);
}


agm-map {
  height: 100vh;
  width: 70vw;

}


.map-search{
  min-width: 100%;
}

.reload_location_form{
  color: #d3531a;
  text-decoration: underline;
}

.ui.cards>.card>.content{
  display: block;
  height: 200px;
  overflow: hidden;
}


.ui.cards>.card>.extra{
  max-height: 60px;
}


.ui.cards>.card>.image{
  height:100px;
}

.ui.cards {
  margin: -3.9% -2px -3px -5.9% !important;
}

.indicator {
  display: block;
  padding-bottom: 90%;
  float: right;
  color: red;
}



.ui.grid{
  margin-left: 6.5em;
  margin-right: 0;
  margin-top: 2em;
  width: 88% !important;
}

.user_header{
  display: block;
  width:100%;
  color: rgba(255, 255, 255, 1.0);

}

.invitationForm{
  overflow: hidden;
}

.action_button{
  height: 40px !important;
  padding: ;
  font-size: 10px !important;
  padding-bottom: 8px;
  margin-bottom: 5px !important;
}


@media only screen 
  and (min-device-width: 1022px) 
  and (max-device-width: 1367px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .ui.raised.segment{
      min-width: 100%;
      margin-left: 53%;
    }
    .view_selector{
      position: relative;
      top: 0.5em;
      width: 100%;
      margin-bottom: 10px;
    }

    .selector_group{
      float: left;
      padding: 3px 0 15px;
    }

  }

  @media only screen 
    and (min-device-width: 1022px) 
    and (max-device-width: 1367px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      .ui.raised.segment{
        min-width: 100%;
        margin-left: 53%;
      }
      .view_selector{
        position: relative;
        top: 0.5em;
        width: 50%%;
        margin-bottom: 10px;
      }

      .selector_group{
        float: left;
        padding: 3px 0 15px;
      }

    }


@media only screen 
  and (min-device-width: 791px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .ui.raised.segment{
      min-width: 71%;

    }
    .ui.buttons {
      margin: 0 10vw;
    }
  }

@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 900px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape){
    agm-map {
      height: 100vh;
      width: 88vw;

    }

    .view_selector{
      position: relative;
      top: 0.5em;
      width: 100%;
      margin-bottom: 10px;
    }

    .selector_group{
      float: left;
      padding: 3px 0 15px;
    }

    .action_button{
      height: 40px !important;
      padding: ;
      font-size: 10px !important;
      padding-bottom: 8px;
      margin-bottom: 3px;


    }

    #modal-container {
        position:  fixed;
        top: 50%;
        left: 50%;
        width: 375px;
        background: white;
        margin-left: -187.5px;
        padding: 10px;
        text-align: center;
        box-shadow: 0px 0px 2px 1px black;
        z-index: 100;
        border-radius: 25px
    }

    .ui.right.floated.button{
      padding: 3px;
    }
  }
@media only screen 
  and (min-device-width: 319px) 
  and (max-device-width: 790px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape){
    .main-title{
      font-size: 2em;
      margin: 30px auto;
    }
    .main_container{
      padding-left: 10vw;
      width: 89vw;
    }
  }

@media only screen 
  and (min-device-width: 319px) 
  and (max-device-width: 790px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  .main-title{
  width: 30%;
  font-size: 1em;
  color: #d3531a;
  margin:  auto !important;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right:0;
  padding-left: 0;
  }
  .navIcon {
    width: 20px;
    height: 15px;
  }
  .navIcon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 20px;
  }
  .item.borderless{
    max-width:30% !important;
  }

  .nav-links{
    font-size: 0.8em;
  }

  

  .ui.cards{
    margin: -4% 0 0 4% !important;
    width: 100%;
  }

  .a{
    overflow: wrap;
  }



  .loginregister_buttons{
    font-size: 1rem !important;
  }

  .ui.raised.segment{
    min-width: 88%;
  
  }

  .login_buttons {
    margin-top: 46vw;
    margin-left: 15%
  }

  .ui.raised.segment.register{
    min-width: 92%;
   

  }

  .ui.buttons .button:first-child{
    margin-left: 0%;
  }

  .main_container{
    display: block;
    min-width: 80vw;
    max-width: 88vw;
    margin: 0;
    color: rgba(125, 131, 133, 1.0);
    overflow: hidden ;
    padding: 0;
  }

  agm-map {
    height: 100vh;
    width: 80vw;

  }

  .view_selector{
    position: relative;
    top: 0.5em;
    width: 100%;
    margin-bottom: 10px;
  }

  .selector_group{
    float: left;
    padding: 3px 0 15px;
  }

  .action_button{
    height: 40px !important;
    padding: ;
    font-size: 10px !important;
    padding-bottom: 8px;
    margin-bottom: 3px;


  }

  .ui.right.floated.button{
    padding: 3px;
  }

  .invitation-form{
    margin: 1em 2.5em 0.5em !important;
  }

  .location-form{
    margin: 1em 2.5em 0.5em !important;
  }



  
}


